<%# タイトル %>
    <h1>スケジューリング</h1>
<%# 進捗 %>
    <p>完了タスク：<%= @completedTaskRatio.to_s + "％" %></p>
<%# タスクバー %>
    <div id='task-bar'>
        <div class="listing-product-detail__category">
            <%# プロジェクトのセレクトボックス %>
            <div id='parent-select-wrapper'>
                <%= form_with model:@user do |f| %>
                    <%= label_tag :parent_category, "プロジェクト：" %>
                    <%# f.select :project_ids,@projects.map{|project| [project.name,project.id]},{},id:'parent_category' %>
                <% end %>
            </div>
            <%# 作業対象のセレクトボックス %>
            <div id='children-select-wrapper'>
                <label for='child_category'>作業対象：</label>
                <select class="listing-select-wrapper__box--select" id="child_category" name="category_id">
                    <option value="---">---</option>
                </select>
            </div>
            <%# 目標のセレクトボックス %>
            <div id='grand-children-select-wrapper'>
                <label for='grand_child_category'>目標：</label>
                <select class="listing-select-wrapper__box--select" id="grand_child_category" name="grand_category_id">
                    <option value="---">---</option>
                </select>
            </div>
        
        <div id='unassigned-tasks'>
            <div id='unassigned-tasks-list'>
                <h4>タスク</h4>
                <div id='mydraggable' >
                    <ol>
                        <% boforeLevel = 0 %>
                        <% Task.each_with_level(Task.roots) do |root| %>
                                <% Task.each_with_level(root.self_and_descendants) do |t| %>
                                    
                                    <% if t.level < boforeLevel %>
                                        <% (boforeLevel - t.level).times do %>
                                            </ol>
                                            </li>
                                        <% end %>
                                    <% else %>
                                    
                                    <% end %>

                                    <li class='item-class' id="<%= t.id %>" data-event='{ "title": "<%= t.name %>", "duration": "<%= t.assumptionCostTimeFomrat %>" }'><%= t.name %>
                                    
                                    <% if t.rgt - t.lft > 1 %>
                                        <ol>
                                    <% else %>
                                        </li>
                                    <% end %>

                                    <% boforeLevel = t.level %>
                                <% end %>
                        
                            <% end %>
                    </ol>
                </div>
            </div>
         </div>
    </div>
<%# カレンダー %>
    <%= javascript_pack_tag 'calendar/event' %>
    <div id='calendar'></div>
    
<%# モーダルウィンドウ %>
    <section id="modalArea" class="modalArea">
        <div id="modalBg" class="modalBg"></div>
        <div class="modalWrapper">
            
            <div class="modalContents">
                <p><%= @id %></p>
                <button>完了</button>
            </div>
            <div id="closeModal" class="closeModal">
            </div>
        </div>
    </section>
</div>

